body {
    background-color: aliceblue;

}

h1 {
    color: #b3c6ff;
    font-family: 'Courier New', Courier, monospace;

}

p {
    color: #b3c6ff;
    font-family: CoFo Glassier, serif;
    font-size: 28px;
    border: 8px;

}